.box {
        height: 50px;
        width: 50px;
        background-color: #bada55;
        transition-property: width, background-color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.030, 0.995, 1.000, -0.600);
}

.box:hover {
            width: 150px;
            background-color: #e84610;
}

.kleur:hover {
                color: #000;
                transition-duration: 1s;
                transition-timing-function:ease-in-out;

}